* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url("./image/home-area.jpg");
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
}

.header-content {
    max-width: 1140px;
    margin: 0 auto;
}

ul li {
    display: inline-block;
    margin: 10px;
    list-style: none;
} 

nav {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: none; 
    padding: 15px 5px;
}

ul li a {
    text-decoration: none; 
    font-size: 18px;
    color: rgb(14, 13, 13);
} 
h1 {
    color: rgb(3, 3, 3); 

}

.banner-content {
    width: 100%;
    height: calc(100vh-70.1px);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center; 
    gap: 25px;

}
.banner-content p {
    width: 50%; 
    margin: 0 auto;
    font-size: 20px;
    padding: 10px;
} 
.banner-content h1 {
    font-size: 60px;
}

.banner-content h2 {
    font-size: 40px;
}


.banner-botton-container {
    margin: 20px;
    display: flex;
    gap: 15px; 
    align-items: center;
    justify-content: center
    

}


.button-primary {
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
}

.button-secendary {
    background-color: rgb(33, 152, 189);
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
}

.body {
    max-width: 1140px; 
    margin: 0 auto;
    background-color: white;
}
.container1 {
    margin-top: 80px; 
    width: 100%;
    height: calc(100vh-70.1px);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center; 
    gap: 25px;
    

}

.block {
    height: 4px;
    width: 80px;
    background-color: blue;
    margin-right: auto;
    margin-left: auto;
}

.heading1 {
    text-align: center;
    font-size: 30px;
    color: black;
    margin-top: 50px;

}

.para1 {
    
    font-size: 20px;
    color: slategray;

}
.para2 {
    text-align: center;
    width: 50%; 
    margin: 0 auto;
    font-size: 20px;
    

}
.container2 {
      display: flex;
      margin-top: 5%;
     justify-content: space-between; 
}
.cards {
     display: flex;
     margin-top: 30px;
     justify-content: space-between; 

}
.icone {
    width: 300px;
    height: 250px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    background-color: rgb(248, 245, 243);
    gap: 20px;
    border-radius: 5px;
    
}
.icone i {
    font-size: 38px;
    margin-bottom: 20px; 
    color: blue;
}

.icone h3 {
    font-size: 25px;
    margin-bottom: 10px;
}
.icone p {
    font-size: 15px;
    color: black;
    line-height: 1.5;
    
}


.container3 {
      display: flex;
      margin: 50px 0;
      gap: 30px
    
}
.our-video-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;
    align-items: start;
}
.iframe {
    border-radius: 5px;
    flex-grow: 2;
}

.our-video-text > p {
font-size: 20px;

} 
.body-2 {
    max-width: 1140px; 
    margin: 0 auto;
    background-color: rgb(249, 251, 252);

}

.Services-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    margin-top: 10px;
}
.icone1 {
    width: 350px;
    height: 50%;
    padding: 20px;
    margin: 10px;
    align-items: start;
    background-color: white;
    gap: 20px;
    border-radius: 5px;
}
.navber {
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: none; 
    padding: 15px 5px;
    margin-top: 30px;

} 
.icone1 i {
    font-size: 38px;
    margin-bottom: 20px; 
    color: blue;
}
.icone1 h3 {
    font-size: 25px;
    margin-bottom: 10px;
}

.icone1 p {
    font-size: 15px;
    color: black;
    line-height: 1.5;

}
.container {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
}
.box {
  color: white;
  font-size: 40px;
  padding: 10px;
  background: rgb(191, 0, 255);
  text-align: center;
}
.box:nth-child(1) {
  grid-column: span 12;
  }
.box:nth-child(2), 
.box:nth-child(3) {
  grid-column: span 6;
  }
.box:nth-child(4),
.box:nth-child(5),
.box:nth-child(6) {
  grid-column: span 4;
  }
.box:nth-child(7),
.box:nth-child(8),
.box:nth-child(9),
.box:nth-child(10) {
  grid-column: span 3;
  }
.box:nth-child(11),
.box:nth-child(12),
.box:nth-child(13),
.box:nth-child(14),
.box:nth-child(15),
.box:nth-child(16) {
  grid-column: span 2;
  }
  .grid {
    height: 100vh;
    width: 90vw;
    display: grid;
    column-gap: 20px;
    row-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: ;
    grid-auto-rows: 250px;
    border: 1px solid crimson;
    padding: 50px;
    justify-content: center;
    align-items: center;    
    align-content: center;

  }
  .grid > div {
    border-radius: 10px;
    min-height: 200px;
    height: 100%;
    font-size: 40px;
    text-align: center;
  }
  .grid :nth-child(3n+1) {
    background-color: blue;

  }
  .grid :nth-child(3n+2) {
   background-color: aqua; 
  }
  .grid :nth-child(3n+3) {
    background-color: crimson;    
  }
